.contact-page-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  /* margin-top: 60px; */

  justify-content: space-between;
}

.contact-page-paper {
  border-radius: 7px;

}

.contact-page-item {
  width: 48%;
  margin-bottom: 2%;

}

.contact-page-item:nth-child(1) {
  /* width: 50%; */
  height: 700px;
  /* box-shadow: 4px 6px 6px 0px #ccc; */
  box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2),
              0px 12px 17px 2px rgba(0,0,0,0.14),
              0px 5px 22px 4px rgba(0,0,0,0.12);


}

.contact-page-item:nth-child(2) {
  /* width: 50%; */
  background-color: #1e88e5;

  height: 1100px;
  box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2),
              0px 12px 17px 2px rgba(0,0,0,0.14),
              0px 5px 22px 4px rgba(0,0,0,0.12);

  /* background-color: #c6cedb; */
}

/* .contact-item:nth-child(3) {
  width: 50%;
} */

.contact-map {
  /* border: solid thin; */
  border-radius: 7px;
}

.contact-social {
  /* display: table-cell; */
  margin-top: 10px;
  /* background-color: #1e88e5; #454F4F */
}

.contact-form {
  /* border-top: solid thin; */
  /* border-bottom: solid thin; */
  margin: 10px 0;
  padding: 0px 8px 8px;
  background-color: #1e88e5;
}

.contact-input {
  /* background: #6ab7ff; */
  /* padding: 8px; */
  /* margin-bottom: 8px; */
  width: 100%;
  /* color: white; */
}

.contact-message-form {
  min-height:75px;
  vertical-align: text-top;
}

.contact-submit {
  text-transform: uppercase;
  /* background: #1e88e5; */
  width: 50%;
  color: white;
  /* margin-top: 20px; */
  /* float: left; */
}

.contact-page-find-us-btn {
  margin-bottom: 20px;
  margin-top: 10px;
  /* border-top: solid thin; */
  /* border-bottom: solid thin; */
}

@media only screen and (max-width: 600px){
  .contact-page-item {
    width: 100%;
    margin-bottom: 2%;
  
  }
}