.top-img {
  max-width:100%;
  max-height:100%;
  object-fit: cover;
  height: 700px; /* auto */
  width: 100%;
  /* height: auto;   */
  box-shadow: 4px 10px 5px 0px #ccc;
  border-radius: 0 0 2px 2px;
  
}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}

.temp {
  height: 400px;
  width: 100%;
  object-fit: cover;
}


/* .container {
  height: 700px;
} */

.big-img-btn {
  /* transform: translate(0, -200px); */
  /* -ms-transform: translate(0, -200px); */
  position: absolute;
  
}

.site-name {
  -webkit-text-stroke: 0.5px black;
}

.btn-bg {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
   -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transform: translate(0, -340px);
  -ms-transform: translate(0, -340px);
  padding: 50px;
  margin-right: 200px;
  margin-left: 200px;
}

.small-img-btn {
  position: absolute;
  transform: translate(0, -110px);
  -ms-transform: translate(0, -110px);
}

.company-name {
  /* position: absolute; */
  font-weight: bold;
}



.some-name {
  /* margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  align-items: center; */
  /* margin: 0; */
  /* position: absolute; */
  /* top: 50%; */
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
}


.btn-icon {
  font-size: 800px;
}

.paper-bg {
  /* background-color: #1e88e5; */
  height: 150px;
  /* z-index: 100; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 48%;
  height: 700px;
  margin-bottom: 1.5%;
}

.item:nth-child(1) {
  width: 100%;
}

.item:nth-child(2) {
  width: 100%;
  height: 150px;
}

.item:nth-child(3) {
  height: 400px;
  width: 50%;
  
  /* border: solid thin; */
}

.item:nth-child(4) {
  height: 400px;
  width: 50%;
  /* border: solid thin; */

}

.contact-item {
  flex-grow: 1;
  width: 32%;
}

.contact-item + .contact-item {
  margin-left: 2%;
}

/* .item:nth-child(4):hover {
  filter: drop-shadow(0 0 0.75rem #ffc400);
} */

@media only screen and (max-width: 600px){
  .btn-bg {
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
  }

  .container {
    flex-direction: column;
  }

  .item:nth-child(2) {
    width: 100%;
    height: 370px;
  }
  
  .item:nth-child(3) {
    height: 400px;
    width: 100%;
    
    /* border: solid thin; */
  }
  
  .item:nth-child(4) {
    height: 400px;
    width: 100%;
    /* border: solid thin; */
  
  }

  .paper-bg {
    /* background-color: #1e88e5; */
    height: 370px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
  }

  .contact-item {
    width: auto;
  }
}

@media only screen and (max-width: 950px){
  .btn-bg {
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
  }
}